body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;  
    padding: 10px;  
    width: 200px;
    height: 200px; 
    margin-left: 1.5%; 
    justify-items: center;
    
}

.container-video{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;  
    padding: 10px;  
    width: 200px;
    height: 200px; 
    margin-left:13%; 
    
}
p{
    text-align: center;
    text-decoration: solid;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-transform:uppercase;
    background-color:black;
    color:white;
}
footer{
    margin-top: 10%;
    color: white;
    background-color: black;
    height: 30px;
}
img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:300px;
    height:200px;  
    margin-left: 0%;  
}
pre{
    background-color: aquamarine;
    text-align: left;
    max-width: 300px;
    min-height: 120px;
    margin-left: 1%;
    padding: 15px;
}
marquee{
    background-color:cadetblue;
    font-size: 20px;
    height: 20px;
    padding: 10px;
    font-style: normal;
    margin-top: 25px;
}
hr{
    border-style: solid;    
}
 .home{
    text-align: right;
    
 }